.parser-btn.processed::before {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
[item-id].processed {
    color: blue;
}
[item-id].processed.error {
    color: red;
}